body {
    background-color: #1a1b1c;
    text-align: center;
}
li {
    text-align: left;
    color: darkcyan;
}

.text1 {
    color: rgb(241, 241, 163);
    font-family: algerian; 
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
    background: #1a1b1c;
    position: relative;
    animation: text 10s 1;
}

.text2 {
    color: cadetblue;
    font-family: algerian;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 25px;
    background: #1a1b1c;
    position: relative;
    animation: text 10s 1;
}

@keyframes text{
    0% {
        color: rgb(192, 217, 250);
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;   
    }
    85% {
        letter-spacing: 4px;
    }
}

p {
    font-size: larger;
    font-stretch: wider;
    color: #03e2ff;
}

p:hover {
    color: cornflowerblue;
    background-color: rgb(20, 19, 19);
    
}

iframe {
    margin-top: 15px;
    border: 1px solid #626a85;
}
